@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 60% 10%;
    --foreground: 0 0% 98%;
    --card: 228 80% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 228 80% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 220 90% 60%;
    --primary-foreground: 217 49% 10%;
    --secondary: 222.2 47% 11%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222.2 47% 11%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 190 65% 76%;
    --accent-foreground: 217 49% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    background-color: #030a1c;
  }
  body {
    @apply bg-[#030a1c] text-foreground antialiased;
    background-color: #030a1c;
  }
}

@layer components {
  .btn-glow {
    transition: box-shadow 0.3s ease-in-out;
  }
  .btn-glow:hover {
    box-shadow: 0 0 20px 2px hsl(var(--primary) / 0.4);
  }
}
